@font-face {
    font-family: "ZDFneoSlab";
    src:url(../fonts/ZDfneo-Slab-RegularItalic.otf) format("opentype");
}

@font-face {
    font-family: "ZDFneoSlabBold";
    src:url(../fonts/ZDfneo-Slab-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: "ZDFneoSlabLight";
    src:url(../fonts/ZDfneo-Slab-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: "ZDFneoSans";
    src:url(../fonts/ZDfneo-Sans-HeavyItalic.otf) format("opentype");
}

@font-face {
    font-family: "ZDFneoCondensed";
    src:url(../fonts/ZDfneo-Condensed-RegularItalic.otf) format("opentype");
}

@font-face {
    font-family: "ZDFneoCondensedBold";
    src:url(../fonts/ZDfneo-Condensed-BoldItalic.otf) format("opentype");
}

a   {
    color: black;
    text-decoration: underline !important;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.neoslab {
    font-family: 'ZDFneoSlab'
}

.neoslabbold {
    font-family: 'ZDFneoSlabBold'
}

.neoslablight {
    font-family: 'ZDFneoSlabLight'
}

.neosans {
    font-family: 'ZDFneoSans'
}

.neocondensed {
    font-family: 'ZDFneoCondensed'
}

.neocondensedbold {
    font-family: 'ZDFneoCondensedBold'
}

.paragraph {
    font-weight: bold;
    font-size: 5em;
}

.bg {
    background: #CCC;
    background-image: url(../img/SwipeUp.png);
    background-position: bottom;
    background-size: 100% auto;
    /* color: white; */
}

h1 {
    font-size: 1.6em !important;
}

.fussnote {
    font-size: 0.5em;
}

.purple {
    background: #980267;
}

.unterschrift {
/*    height: 100%;*/
}

footer img {
    max-width: 32px;
}

footer a {
    font-size: 12px;
    font-weight: bold;
}

footer a:hover {
    color: #E3000F;
}

.einladung {
    
}